<div class="main-header__nav">
    <ul class="main-header__item-list">
        <% if (!isAuthenticated ) { %>
        <li class="main-header__item">
            <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
        </li>
        <li class="main-header__item">
            <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
        </li>
        <% } else  {%>
        <li class="main-header__item">
            <form action="/logout" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit">Logout</button>
            </form>
            
        </li>
        <% } %>
    </ul>

</div>