<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
    </style>


<ul>
    <li><a class="active" href="/dashboard">Home</a></li>
    <li><a href="/editUserProfile">Edit Profile</a></li>
    <li style="float:right"><!--<a href="/logout">Logout</a><-->
      <form action="/logout" method="POST"><input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button type="submit">Logout</button>
    </form></li>
  </ul>