<%- include('includes/head.ejs') %>
<body>
    <div class="error_page">
        <h1>Some error occurred!</h1>
        <p>Sorry for the inconvenience.</p>
    </div>
</body>

<%- include('includes/end.ejs') %>