<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%= pageTitle %>
  </title>
  <meta name="description" content="tic-tac-toe for CSE341 by JRolph, JStavast, HStratton">


  <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
  <!--<style>
    .flex-container {
      display: flex;
      height: 100%;
      flex-direction: column;
      background-color: #f1f1f1;
    }
    
    .first-half {
      background-color: #f1f1f1;
      height: 45%;
      margin: 10px;
      padding: 20px;
      font-size: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .second-half {
      background-color: #f1f1f1;
      height: 100%;
      margin: 10px;
      padding: 20px;
      font-size: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .flex-item {
      background-color: #ffffff;
      margin: 10px;
      padding: 20px;
      font-size: 30px;
      height: 30%;
      width: 350px;
    }

    .flex-item-2 {
      background-color: #ffffff;
      margin: 10px;
      padding: 20px;
      font-size: 30px;
      height: 75%;
      width: 100%;
    }
    
</style><-->
</head>

<%- include('includes/nav.ejs') %>

  <body>

    <div class="flex-container">
      <!--<div class="first-half">
        
        <div class="flex-item">
          John
        </div>
        <div class="flex-item">
          Sarah
        </div>
        <div class="flex-item">
          Joe
        </div>
      </div>-->
      <div class="second-half">
        <div class="flex-item-2">
          Players
        </div>
        <div class="flex-item-2">
          Current Games
        </div>
      </div>
    </div>
    <%- include('includes/end.ejs') %>