<%- include('includes/head.ejs') %>
</head>
<body>
  <div class="main-background">
    <div class="nav">
      <a href="/dashboard" class="nav" style="border-radius: 0px; font-size: 1em;">Dashboard</a>
    </div> 
    <div class="form-container">
      <div class="main-form">
        <div class="form-header">
          <h2 class="form-title">Edit Profile</h2>
      </div>

        <form action="/action_page">
          <div>
              <label for="name"><b></b></label>
              <input type="text" placeholder="Enter name" name="name" required>
              
              <!-- <label for="country"></label>
              <input class="" type="text" name="country" id="country" placeholder="Zip"> -->
              
              <label for="email"><b></b></label>
              <input type="text" placeholder="Enter Email" name="email" required>
                  
              <label for="psw"><b></b></label>
              <input type="password" placeholder="Enter Password" name="psw" required>
              
              <label for="psw"><b></b></label>
              <input type="password" placeholder="Confirm Password" name="psw" required>
          </div>                    
          <div class="form-btn-container">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit" class="btn save-btn">Save</button>
            <button type="button" class="btn cancel-btn">Cancel</button>
          </div>
        </form>
      </div> 
    </div>
  </div>
