.flex-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: #f1f1f1;
  }
  
  .first-half {
    background-color: #f1f1f1;
    height: 45%;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .second-half {
    background-color: #f1f1f1;
    height: 100%;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flex-item {
    background-color: #ffffff;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    height: 30%;
    width: 350px;
  }

  .flex-item-2 {
    background-color: #ffffff;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    height: 75%;
    width: 100%;
  }
  