.btn-dash, a.btn-dash {
  background-color: white;
  height: 60px;
  width: 350px;
  opacity: 1;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 30px;
  margin: 0px 0px;
  cursor: pointer;
  border-radius: 0px;
  border: 2px solid black;
}

.btn-dash:hover, a.btn-dash:hover {background-color: rgb(248, 248, 248);}


/* .flex-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: #f1f1f1;
  }
  
  .first-half {
    background-color: #f1f1f1;
    height: 45%;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .second-half {
    background-color: #f1f1f1;
    height: 100%;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flex-item {
    background-color: #ffffff;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    height: 30%;
    width: 350px;
  }

  .flex-item-2 {
    background-color: #ffffff;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    height: 75%;
    width: 100%;
  }
   */

