body {
  background-image: url("https://st2.depositphotos.com/31939724/46264/v/600/depositphotos_462641316-stock-illustration-tic-tac-toe-game-pattern.jpg"); 
  background-size: 300px 300px;
  font-family: 'Otomanopee One', sans-serif;
  margin: 0px;
}

button {font-family: 'Otomanopee One', sans-serif;}

.main-background {
  background-color: #ffffff;
  margin: 0px 5%;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav {
  margin-right: 40%;
  width: 50%;
}

.flex-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  background-color: white;
}
  
.first-half {
  background-color: white;
  height: 100%;
  margin: 2px;
  padding: 20px;
  font-size: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.second-half {
  background-color: white;
  height: 100%;
  margin: 2px;
  padding: 20px;
  font-size: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.flex-item {
  /*border: 2px solid rgba(100, 100, 100, 0.5);*/
  margin: 10px;
  font-size: 30px;
  height: 60px;
  width: 100%;
}

.flex-item-2 {
  border: 2px solid rgba(100, 100, 100, 0.5);
  margin: 10px;
  padding: 20px;
  font-size: 25px;
  height: 75%;
  width: 85%;
}

.user-message--error {
  color: rgb(180, 0, 0);
  text-align:center;
}

.error_page {
  text-align: center;
  padding:1rem;
  background-color: #f2f2f2;
  padding: 40px;
  border-radius: 25px;
  border: 2px solid black;
}

.scroll{
  height:400px; 
  overflow:hidden; 
  overflow-y:scroll;
}
.centered {
  text-align: center;
}
.black-bg {
  background-color:black;
}

.white-bg {
  background-color: white;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 768px) {
  .first-half, .second-half {
    flex-direction: column;
  }

  .flex-item-2 {
    width: 90%;
  }

  .nav {
    margin-right: 0%;
    width: 100%;
  }
  
}

@media (max-width: 450px) {
  .flex-item-2 {
    width: 85%;
  }
}